/** Global colors file */

@color-white: #FFFFFF;
@color-light-gray: #F2F2F2;
@color-medium-gray: #D2D2D2;

@color-dark-gray: #444444;
@color-black-text: #111111;

// Brand colors.
@color-brand-blue: #04C4D9;
@color-brand-blue-darker: #04A2B4;
@color-brand-teal: #41A693;
@color-brand-yellow: #F2B33D;
@color-brand-orange: #F27B35;
@color-brand-red: #F27141;
@color-brand-grey: #BDC3C7;

// Button colors.
@color-primary-button: @color-brand-blue;
@color-primary-button-hover: @color-brand-blue-darker;
@color-secondary-button: @color-brand-orange;
@color-secondary-button-hover: @color-brand-red;

// Text colors.
@color-text-primary: @color-black-text;
@color-text-primary-inverted: @color-white;
