@import (reference) '../styles/mixins.less';
@import (reference) '../styles/colors.less';
@import (reference) '../styles/fonts.less';
@import (reference) './shared.less';

:local {
  .root {
    .root();
  }

  .bannerContainer {
    .vbox();
    .stretch();
    height: 480px;
    align-items: center;
    margin-top: 76px; //Offset for navbar
    background: url('../assets/get_involved/get_involved.png');
    background-size: cover;
  }

  .banner {
    .stretch();
    margin-top: 76px; //Offset for navbar
    height: 480px;
    object-fit: cover;
  }

  .bannerTextContainer {
    .stretch();
    .vbox();
    max-width: @max-page-width;
    margin-top: auto;
    margin-bottom: 72px;
  }

  .banner_text {
    .Lora();
    color: @color-text-primary-inverted;
    max-width: 860px;
    font-size: 74px;
    text-align: left;
  }

  .title {
    .Lora();
    font-size: 42px;
    text-align: left;
    color: @color-text-primary;
    margin-bottom: 36px;

    &.marginTop {
      margin-top: 56px;
    }
  }

  .contentContainer {
    .vbox();
    .stretch();
    align-items: center;
    justify-content: center;
    padding: 84px 48px 0px 48px;
  }

  .content {
    .vbox();
    .stretch();
    max-width: @max-page-width;
  }

  .orangeDivider {
    width: 375px;
    border-bottom: 4px solid @color-brand-orange;
    margin-bottom: 40px;
  }

  .three_column {
    float: left;
    width: 33.33%;
    padding: 20px;
    min-width: 150px;
  }

  .two_column {
    float: left;
    width: 50%;
    padding: 20px;
    min-width: 150px;
  }

  .row{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
  }

  .row:after {
    display: table;
    clear: both;
  }

  .logo {
    height: 150px;
    width: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }

  .logo_text {
    .Montserrat();
    font-size: 28px;
    text-align: center;
    line-height: 1.5;
  }

  .link {
    color: @color-text-primary;
    text-decoration: none;

    &:hover {
      color: @color-brand-blue-darker;
    }
  }

  .getInvolvedCard {
    .stretch();
    position: relative;
    height: 480px;
  }

  .leftCardImage {
    height: 480px;
    width: min(1080px, 60vw);
    object-fit: cover;    
  }

  .rightCardImage {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 480px;
    width: min(1080px, 60vw);
    object-fit: cover;    
  }

  .leftBackgroundOverlay {
    .vbox();
    .stretch();
    position: absolute;
    right: 0px;
    top: 0px;
    height: 480px;
    align-items: center;
    background: linear-gradient(105deg, transparent 
    min(960px, 50vw), @color-light-gray min(960px, 50vw));
    z-index: 1;
    padding: 48px;
  }

  .rightBackgroundOverlay {
    .vbox();
    .stretch();
    position: absolute;
    left: 0px;
    top: 0px;
    height: 480px;
    align-items: center;
    background: linear-gradient(75deg, @color-light-gray calc(100vw - min(960px, 50vw)), transparent 
    min(960px, 50vw));
    z-index: 1;
    padding: 48px;
  }

  .cardLeftTextContainer {
    .hbox();
    .stretch();
    height: 100%;
    max-width: @max-page-width;
    justify-content: flex-start;
  }

  .cardRightTextContainer {
    .hbox();
    .stretch();
    height: 100%;
    max-width: @max-page-width;
    justify-content: flex-end;
  }

  .cardText {
    .vbox();
    .Montserrat();
    font-size: 24px;
    line-height: 1.5;
    height: 100%;
    max-width: 450px;
    justify-content: center;
  }

  .cardsContainer {
    .vbox();
    .stretch();
  }

  .bullet {
    display: list-item;
    list-style-type: disc;
    margin-bottom: 8px;
  }

  .leftPictureLabel {
    .Montserrat();
    color: @color-text-primary-inverted;
    position: absolute;
    bottom: 36px;
    left: 96px;
    font-weight: 800;
    font-size: 96px;
    text-transform: uppercase;
  }

  .rightPictureLabel {
    .Montserrat();
    color: @color-text-primary-inverted;
    position: absolute;
    bottom: 36px;
    right: 96px;
    font-weight: 800;
    font-size: 96px;
    text-transform: uppercase;
  }
}
